* {
    font-family: 'Noto Sans Lao', sans-serif;

}

.camera-button {
    background-color: #FB6D48;
    border: none;
    padding: 6px 10px;
    border-radius: 100%;


}

.camera-button .icon {
    color: #f9f9f9;
}

.cursor {
    cursor: pointer;
}


h1 {
    font-size: 36px;
}

.top-title {
    text-align: center;
    padding: 10px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.navbar {
    padding: 15px;
}

.navbar-toggler {
    border: none;

}


footer {

    background-color: white;
    color: black;
    padding: 10px 0;
    /* margin: 10px 0; */
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .container-body {
        flex-direction: column;
        align-items: stretch;
    }

    .card-report {
        width: 100%;
        margin: 5px 0;
        padding: 10px;
    }

    .col-4 {
        flex: 0 0 auto;
        width: 100%;
        margin-bottom: 10px;
    }

    /* Add smaller text rule */
    .font-content {
        font-size: 13px;
        /* Adjust the font size as per your requirement */
    }

    .page-title {
        font-size: 25px;
    }

    .brand {
        font-size: medium;
    }

    .main-menu {
        font-size: 14px;
    }

    .navbar {
        padding: 0;
    }

    .nav-content {
        padding: 0 5px 0 5px;
    }

}


.card-report {
    /* width: 270px; */
    /* height: 250px; */
    /* margin: 20px; */
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 10px;
}

.container-cars {

    margin-bottom: 2rem;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;

}

.Modal {
    margin: 0.5rem;

}

.big-con {

    background-color: #FFAF45;
    border-radius: 20px;
    padding: 10px;
    height: 100vh;

}


/* 
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: 15% auto;
    width: 80%;
    max-width: px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.modal:target {
    display: block;
}

@media only screen and (max-width: 600px) {
    .modal-content {
        margin: 10% auto;
    }
} */
/***************con-checkout*************/
.con-checkout {
    padding: 10px;
}

/***************con-checkout*************/
/**************con-balance**************/
.con-balance {
    padding: 10px;
}

/**************con-balance**************/
/*************con-login*****************/
.con-login {
    padding: 10px;

}

.con-from-login {

    width: 100%;
}

.form-login {
    padding: 20px;
    background-color: cadetblue;
    border-radius: 10px;
    width: 50%;
}

/*************con-login*****************/
.qr-scanner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

.qr-scanner-header {
    margin-bottom: 20px;
}

.qr-scanner-header h3 {
    font-size: 24px;
    margin: 0;
}

.toggle-camera-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-camera-button:hover {
    background-color: #0056b3;
}

.qr-scanner-content {
    width: 100%;
    text-align: center;
}

.qr-scanner-content p {
    margin: 20px 0;
}

.scanned-data {
    font-size: 14px;
}

.qr-scanner-footer {
    margin-top: 20px;
}

/*============================================ */
/* App.css */

/* App.css */

.confirm-scanner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #FFAF45;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.card-confirm {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
}

.card-details {
    margin-bottom: 15px;
}

.description-list {
    list-style-type: none;
    padding: 0;
}

.description-list li {
    margin-bottom: 10px;
}

.confirm-button,
.delete-button {
    background-color: #FB6D48;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    text-align: center;
}

.confirm-button:hover,
.delete-button:hover {
    background-color: #ff1744;
}

/* ===================================*/
.menu-container {
    overflow-x: auto;
    max-width: 360px;
    display: flex;
    background-color: white;
}

.horizontal-menu {
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
    margin: 0;
    list-style: none;
    white-space: nowrap;
    margin: 0px 10px 0px 10px;

}

.main-menu-list {
    flex-shrink: 0;
    /* Ensure menu items do not shrink */
    padding: 10px 10px 10px 10px;
    color: inherit;
    text-decoration: none;
    font-size: 14px;

}


@media (min-width: 992px) {
    .menu-container {
        overflow-x: hidden;
    }

    .horizontal-menu {
        overflow-x: auto;
    }
}